fastapi
uvicorn[standard]
python-multipart
watchdog
requests
pymupdf
python-docx
tika

pytesseract
easyocr
docxtpl
groq
pdfkit
pydantic
pytest
httpx
opencv-python-headless
Pillow
pydantic-settings
SQLAlchemy
psycopg[binary]
pgvector
langchain
langchain-ollama
langchain-openai
langchain-core
langchain-community
langchain-classic
openai
