fastapi
uvicorn[standard]
python-multipart
watchdog
requests
pymupdf
python-docx
pypdf
pdf2docx
tika

pytesseract
easyocr
docxtpl
pdfkit
pydantic
pytest
httpx
opencv-python-headless
Pillow
pydantic-settings
SQLAlchemy
psycopg[binary]
pgvector
langchain
langchain-ollama
langchain-openai
langchain-core
langchain-community
langchain-classic
openai
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
